@import "../utils/vars";

.container {
  max-width: 480px;
  margin: 0 auto;
}
.images-section {
  display: none;
}
.description {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}
.icon {
  width: 51px;
  height: 49px;
  fill: var(--primary1-color);
  margin-top: 20px;
  transition-property: transform;
  &:hover {
    transform: rotate(180deg);
    transition-duration: 500ms;
  }
}
.page-paragraph {
  color: var(--paragraph-color);
  font-family: DM Sans;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.52;
}
.section-subtitle {
  color: var(--primary1-color);
  font-family: titan one;
  font-size: 18px;
  line-height: 1.14;
  display: inline-block;
  margin-bottom: 39px;
  transition-property: transform;
  &:hover {
    transform: scale(1.5);
    transition-duration: 500ms;
  }
}
.section-title {
  color: var(--brand-color);
  font-family: titan one;
  line-height: 1.14;
  font-size: 34px;
  margin-bottom: 70px;
  transition-property: transform;
  &:hover {
    transform: scale(1.5);
    transition-duration: 500ms;
  }
}
@media screen and (min-width: 780px) {
  .container {
    max-width: 780px;
    display: flex;
  }
  .description {
    width: 50%;
    margin-left: 76px;
    justify-content: center;
    align-items: center;
  }
  .images-section {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .images-list {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .images-item {
    margin-bottom: 157px;
    border-radius: 30px;
    overflow: hidden;
    transition-property: transform;
    &:hover {
      transform: scale(1.5);
      transition-duration: 500ms;
    }
  }
  .images-item:nth-child(2n) {
    position: absolute;
    top: 200px;
    left: 200px;
  }
}
@media screen and (min-width: 768px) {
  .section-subtitle {
    font-size: 26px;
  }
  .section-title {
    font-size: 48px;
  }
  .page-paragraph {
    line-height: 1.76;
    font-weight: 500px;
  }
}
@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 58px;
  }
  .section-subtitle {
    font-size: 30px;
  }
  .page-paragraph {
    line-height: 1.94;
  }
  .container {
    max-width: 1280px;
    display: flex;
  }
  .description {
    text-align: left;
    width: 50%;
  }
  .icon {
    margin-right: 150px;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .images-list {
    display: flex;
    flex-direction: column;
  }
  .images-item:nth-child(2n) {
    left: 350px;
  }
}
