@import "../utils/vars";
* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
body {
  font-family: DM sans;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.66;
  letter-spacing: 3%;
}
.heading-section {
  background-color: $bg-color;
  max-width: 1600px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
}
