@import "../utils/vars";
.logo {
  width: 199px;
  height: 50px;
}
.page-header {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
    0deg,
    rgba(255, 184, 202, 1),
    rgba(0, 0, 0, 0.2)
  );
}
.page-header__inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_item {
  background-color: $white-color;
  color: $brand-color;
  border-style: none;

  width: 209px;
  height: 44px;
  border-radius: 30px;
}
.nav-list {
  list-style-type: none;
}
.nav-link {
  color: $white-color;
  text-decoration: none;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700px;
}
@media screen and (min-width: 320px) {
  .nav-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    display: flex;
  }
}
.heading {
  font-family: Titan one;
  font-size: 48px;
  line-height: 1.15;
  color: $white-color;
  text-transform: uppercase;
  & span {
    color: $brand-color;
    font-size: 58px;
  }
}
